name: Compile MRS
on:
  push:
    paths:
      - 'Jacking_direct.list'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create MRS
        uses: MetaCubeX/github-action-mihomo-rule-set-converter@master
        with:
          # 输入文件
          input: Jacking_direct.list
          # 输出文件
          output: Jacking_direct.mrs
          # 必须指定格式为 domain
          format: domain

      - name: Upload to Branch
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add Jacking_direct.mrs
          git commit -m "Auto compile MRS" || exit 0
          git push
