name: Compile MRS
on:
  push:
    paths:
      - 'Jacking_direct.list'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download Mihomo Tool
        run: |
          # 使用更稳妥的下载链接格式
          wget -O mihomo https://github.com/MetaCubeX/mihomo/releases/download/v1.18.9/mihomo-linux-amd64-v1.18.9.gz
          gunzip mihomo.gz
          chmod +x mihomo

      - name: Compile to MRS
        run: |
          ./mihomo rule-set convert domain Jacking_direct.list Jacking_direct.mrs

      - name: Upload to Branch
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add Jacking_direct.mrs
          git commit -m "Auto compile MRS" || exit 0
          git push
