name: Compile MRS
on:
  push:
    paths:
      - 'Jacking_direct.list'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download Mihomo Tool
        run: |
          # 自动获取最新版本的下载链接，不再手动写版本号
          URL=$(curl -s https://api.github.com/repos/MetaCubeX/mihomo/releases/latest | grep "browser_download_url.*linux-amd64-v" | cut -d '"' -f 4 | head -n 1)
          echo "Downloading from: $URL"
          wget -O mihomo.gz "$URL"
          gunzip mihomo.gz
          chmod +x mihomo

      - name: Compile to MRS
        run: |
          ./mihomo rule-set convert domain Jacking_direct.list Jacking_direct.mrs

      - name: Upload to Branch
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add Jacking_direct.mrs
          git commit -m "Auto compile MRS" || exit 0
          git push
